
<div class="flex flex-wrap place-items-center header font-poppins text-custom-whitetext text-lg shadow-md">
    <section class="relative mx-auto ">
        <!-- navbar -->
      <nav class="  flex justify-between bg-custom-grayBackground h-10v  w-screen uppercase">
        <div class="px-40 xl:px-40 py-6 flex w-full items-center">
          <a class="text-3xl font-bold font-heading " href="https://ponce-test.myshopify.com/">
            <!-- <img class="h-9" src="logo.png" alt="logo"> -->
            {% if section.settings.logo !=blank %}
            <img src="{{ section.settings.logo | img_url }}" alt="logo">
            {% else %}
            <h1>{{ page_title }}</h1>
            {% endif %}
          </a>
          <!-- Nav Links -->
          <!-- hover:text-custom-pink -->
          <ul  class="md:flex px-4 mx-auto font-semibold font-poppins space-x-12 ">
            {%- for link in linklists.main-menu.links -%}
      <li id="nav_list">
        <a  class="hover:text-custom-pink" href="{{ link.url }}" {% if link.active %}aria-current="page"{% endif %}>
          {{ link.title }}
        </a>

        {%- if link.links != blank -%}
          <ul>
            {%- for child_link in link.links -%}
              <li id="nav_list">
                <a class="hover:text-custom-pink" href="{{ child_link.url }}" {% if child_link.active %}aria-current="page"{% endif %}>
                  {{ child_link.title }}
                </a>
                {%- if child_link.links != blank -%}
                  <ul>
                    {%- for grandchild_link in child_link.links -%}
                      <li>
                        <a class="hover:text-custom-pink" href="{{ grandchild_link.url }}" {% if grandchild_link.active %}aria-current="page"{% endif %}>
                          {{ grandchild_link.title }}
                        </a>
                      </li>
                    {%- endfor -%}
                  </ul>
                {%- endif -%}

              </li>
            {%- endfor -%}
          </ul>
        {%- endif -%}
      
      </li>
    {%- endfor -%}
          </ul>
          stroke-linecap="round" stroke-linejoin="round"
          <!-- Header Icons -->
          <div class="hidden xl:flex items-center space-x-5 ">
          
            <a class="flex items-center hover:text-custom-pink" href="/cart">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
                </svg>
              <!-- <span class="flex absolute -mt-5 ml-4">
                <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
                  <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
                  </span>
                </span> -->
            </a>
            <!-- Sign In / Register      -->
            {% if shop.customer_accounts_enabled %}
            <a class="flex items-center hover:text-custom-pink" href="/account">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5.121 17.804A13.937 13.937 0 0112 16c2.5 0 4.847.655 6.879 1.804M15 10a3 3 0 11-6 0 3 3 0 016 0zm6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
            </a>
             {{ 'log out'  | customer_logout_link }}
            {% endif %}
            
            
          </div>
        </div>
        <!-- Responsive navbar -->
        <a class="xl:hidden flex mr-6 items-center" href="#">
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 3h2l.4 2M7 13h10l4-8H5.4M7 13L5.4 5M7 13l-2.293 2.293c-.63.63-.184 1.707.707 1.707H17m0 0a2 2 0 100 4 2 2 0 000-4zm-8 2a2 2 0 11-4 0 2 2 0 014 0z" />
          </svg>
          <span class="flex absolute -mt-5 ml-4">
            <span class="animate-ping absolute inline-flex h-3 w-3 rounded-full bg-pink-400 opacity-75"></span>
            <span class="relative inline-flex rounded-full h-3 w-3 bg-pink-500">
            </span>
          </span>
        </a>
        <a class="navbar-burger self-center mr-12 xl:hidden" href="#">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hover:text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
            </svg>
        </a>
      </nav>
      
    </section>
  </div>



{% schema %}
{
    "name": "Header",
    "class": "Header-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "logo",
            "label": "Logo du site"
        }
        
    ],
    "presets": [
        {
            "category": "Header",
            "name":"Header"
        }
    ]
}
{% endschema %}
