
<section class="text-gray-600 body-font relative overflow-hidden z-20 h-90v">
    <img src="{{ section.settings.image | img_url: 'master' }}" class="object-cover  lg:block  z-10  w-full h-full absolute bottom-0  " alt="banner">
    
    <div class="container absolute min-w-full z-30 m-auto h-full flex lg:justify-center px-5 py-24 md:flex-row flex-col items-center justify-center"> 
      <div class=" xl:w-2/4 lg:w-1/2 2xl:pl-28 md:w-full   sm:w-full sm:pl-0">
        {% if section.settings.image_product !=blank %}
        <a href="{{ section.settings.product_link }}"><img class="object-contain xl:w-1/2  lg:w-3/4 m-auto md:w-3/4 "  alt="hero" src="{{ section.settings.image_product | img_url: 'large' }}"></a>
        {% else %}
        {% capture current %}{% cycle 1,2 %}{% endcapture %}
        {{ "product-" | append: current | placeholder_svg_tag : "product-1" }}
    {% endif %}
      </div>
      <div class="lg:w-1/2 2xl:pr-28 text-center  flex flex-col  mb-16 md:mb-0 sm:mb-2 w-full md:pr-0" > 
        <h1 class="font-bold text-4xl mb-4 xl:text-4xl  lg:text-4xl md:text-4xl sm:text-4xl  text-custom-whitetext">{{ section.settings.title }}
        </h1>
        <p class="mb-8 text-base leading-relaxed text-custom-whitetext ">{{ section.settings.description }}</p>
        <div class="flex w-full justify-center">

         <a href="{{ section.settings.button_link }}"><button class="relative text-sm bg-custom-pink text-center  text-custom-whitetext uppercase hover:bg-custom-grayBackground transition duration-200    font-heading rounded-md py-6 px-9 xl:text-base xl:leading-none  xl:py-6 xl:px-9 lg:px-9 lg:py-4 md:text-xl md:px-5 sm:py-4 sm:px-5   "><img class="absolute -top-5 -left-5 w-12 flower-anim" src="https://cdn.shopify.com/s/files/1/0607/6163/7097/files/BG.png?v=1636389553" alt="flower">VOIR LA COLLECTION</button></a>
          
        </div>
      </div>
    </div>
    <div class="test">
        <span>FLEUR&nbsp; </span>
        <span>FLEUR&nbsp; </span>
        <span>FLEUR&nbsp; </span>
        <span>FLEUR&nbsp; </span>
        <span>FLEUR&nbsp; </span>
        <span>FLEUR&nbsp; </span>
    </div>
  </section>
{% schema %}
{
    "name": "Hero Section",
    "class": "hero-section",
    "settings": [
        {
            "type": "image_picker",
            "id": "image",
            "label": "Image de fond"
        },
        {
            "type": "url",
            "id": "product_link",
            "label": "Lien du Produit"
        },
        {
            "type": "image_picker",
            "id": "image_product",
            "label": "Image Produit"
        },
        {
            "type": "text",
            "id": "title",
            "default": "Example Heading",
            "label": "Titre du hero"
        },
        {
            "type": "text",
            "id": "description",
            "default": "texte mais tu n'es pas obliger d'en mettre",
            "label": "Petit texte si tu souhaites en mettre un"
        },
        {
            "type": "text",
            "id": "button_label",
            "default": "Button",
            "label": "Heading Button Label"
        },
        {
            "type": "url",
            "id": "button_link",
            "label": "Heading Button Link"
        }
    ],
    "presets": [
        {
            "category": "Hero",
            "name":"Hero"
        }
    ]
}
{% endschema %}