<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css"/>
<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>

{% assign selected_variant = product.selected_or_first_available_variant %}

<style>
    .swiper-button-prev, .swiper-button-next { color: black; top: auto !important; height: 20px; }
    .swiper-button-prev::after, .swiper-button-next::after { font-size: 20px; }
    .swiper-pagination { color: black; bottom: 0 !important; }
    .swiper-pagination-bullet-active { background: black !important; }
    .product--information { height: fit-content; }
</style>
<div class="max-w-6xl mx-auto my-12 ">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-3">
        <div class="product--medias">
            <div class="hidden md:block">
                {% for media in product.media %}
                    <div class="h-100 cursor-pointer   p-2" id="image_lg" >
                        <a href="{{ media | img_url: 'grande' }}">
                            {% render 'product-media',  media: media %}
                        </a>
                        
                    </div>
                {% endfor %}
            </div>
            <div class="md:hidden">
                <div class="swiper h-94">
                    <div class="swiper-wrapper">
                        {% for media in product.media %}
                            <div class="swiper-slide">
                                <div class="h-80  p-2" id="image_sm">
                                    {% render 'product-media', media: media %}
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination"></div>
                    <div class="swiper-button-prev"></div>
                    <div class="swiper-button-next"></div>
                </div>
            </div>
        </div>

        <div class="product--information sticky top-10   p-2">
            {% form 'product', product, id: 'product-form', novalidate: 'novalidate' %}
                <input type="hidden" name="id" value="{{ selected_variant.id }}">
                        
                            <div class="my-3">
                                <h1 class="text-4xl font-bold  text-custom-grayBackground">{{ product.title | capitalize }}</h1>
                            </div>
                        
                            <div class="my-3" id="price-{{ section.id }}">
                                <span class="text-base text-custom-pink line-through">{{ selected_variant.compare_at_price | money }}</span>
                                <span class="text-lg font-semibold text-custom-pink">{{ selected_variant.price | money }}</span>

                                {% if selected_variant.price < selected_variant.compare_at_price %}
                                    <span class="px-5 py-1 text-sm font-bold bg-red-500 rounded-full text-white mx-4">Promo</span>
                                {% endif %}
                            </div>
                            <div class="my-5">
                                {% unless product.has_only_default_variant %}
                                    <variant-selector data-url="{{ product.url}}" data-section="{{ section.id }}">
                                        {% for option in product.options_with_values %}
                                            <label class=" uppercase text-custom-grayBackground font-semibold" for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
                                            <div class="my-2">
                                                <select 
                                                    name="options[{{ option.name | escape }}]" 
                                                    id="Option-{{ section.id }}-{{ forloop.index0 }}" 
                                                    class="w-full border py-3 px-3 font-heading text-gray-500  border-gray-200 focus:ring-custom-pink focus:border-custom-pink rounded-md"
                                                >
                                                    {% for value in option.values %}
                                                        <option 
                                                            value="{{ value | escape }}"
                                                            {% if option.selected_value == value %}
                                                                selected="selected"
                                                            {% endif %}
                                                        >
                                                            {{ value }}
                                                        </option>
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <script type="application/json">
                                                {{ product.variants | json }}
                                            </script>
                                        {% endfor %}
                                    </variant-selector>
                                {% endunless %}
                            </div>                
                            <div class="my-5">
                                <label class=" uppercase font-semibold" for="Quantity-{{ section.id }}">Quantité</label>

                                <div class="my-2">
                                    <input type="number" name="quantity" id="Quantity-{{ section.id }}" value="1" min="1" class="w-full border px-3 py-3 border-gray-200 focus:ring-custom-pink focus:border-custom-pink rounded-md ">
                                </div>
                            </div>
                    
                            <div class="my-3">
                                <p class="text-custom-grayBackground">{{ product.description }}</p>
                            </div>
                            <div id="addToCart" class="my-3 text-center">
                                <button type="submit"  name="add" class=" relative w-3/4 px-6 py-4 bg-custom-pink text-white hover:bg-custom-grayBackground rounded my-2  transition duration-200"
                                    {% if selected_variant.available == false %}
                                        disabled 
                                    {% endif %}
                                > <img class="absolute -top-5 -left-5 w-12 flower-anim" src="https://cdn.shopify.com/s/files/1/0607/6163/7097/files/BG.png?v=1636389553" alt="flower">
                                    {% if selected_variant.available == false %}
                                        EPUISÉ
                                    {% else %}
                                       AJOUTER AU PANIER
                                    {% endif %}
                                </button>
                            </div>
                            
            {% endform %}
        </div>
    </div>
    <div class="bg-white">
        <div class="max-w-2xl mx-auto py-16 px-8 sm:py-24 sm:px-6 lg:max-w-7xl lg:px-8">
          <h2 class="text-2xl font-extrabold tracking-tight inline-block underline_custom text-custom-grayBackground">{{ section.settings.title | capitalize }}</h2>
       
          <div class="mt-6 grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
          
            <div class="group relative">
              <div class="w-full min-h-80 bg-custom-whitecard aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                <img src="{{ section.settings.product_1 | img_url: 'grande' }}" alt="produit recemment acheté" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
              </div>
              <div class="mt-4 flex justify-between">
                <div>
                  <h3 class="text-sm font-semibold m-0 text-custom-grayBackground"> 
                    <a href="{{ section.settings.product_1.url }}">
                      <span  class="absolute inset-0"></span>
                      {{ section.settings.product_1.title  }}
                    </a>
                  </h3>
                </div>
                <p class="text-sm font-medium text-custom-pink">{{ section.settings.product_1.price_max | money  }}</p>
              </div>
            </div>
            {% if section.settings.product_2 !=blank %}
            <div class="group relative">
                <div class="w-full min-h-80 bg-custom-whitecard aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                  <img src="{{ section.settings.product_2 | img_url: 'grande' }}" alt="produit recemment acheté" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                  <div>
                    <h3 class="text-sm font-semibold m-0 text-custom-grayBackground">
                      <a href="{{ section.settings.product_2.url }}">
                        <span  class="absolute inset-0"></span>
                        {{ section.settings.product_2.title  }}
                      </a>
                    </h3>
                  </div>
                  <p class="text-sm font-medium text-custom-pink">{{ section.settings.product_2.price_max | money  }}</p>
                </div>
              </div>
            {% endif %}
            {% if section.settings.product_3 !=blank %}
            <div class="group relative">
                <div class="w-full min-h-80 bg-custom-whitecard aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                  <img src="{{ section.settings.product_3 | img_url: 'grande' }}" alt="produit recemment acheté" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                  <div>
                    <h3 class="text-sm font-semibold m-0 text-custom-grayBackground">
                      <a href="{{ section.settings.product_3.url }}">
                        <span  class="absolute inset-0"></span>
                        {{ section.settings.product_3.title  }}
                      </a>
                    </h3>
                  </div>
                  <p class="text-sm font-medium text-custom-pink">{{ section.settings.product_3.price_max | money  }}</p>
                </div>
              </div>
            {% endif %}
            {% if section.settings.product_4 !=blank %}
            <div class="group relative">
                <div class="w-full min-h-80 bg-custom-whitecard aspect-w-1 aspect-h-1 rounded-md overflow-hidden group-hover:opacity-75 lg:h-80 lg:aspect-none">
                  <img src="{{ section.settings.product_4 | img_url: 'grande' }}" alt="produit recemment acheté" class="w-full h-full object-center object-cover lg:w-full lg:h-full">
                </div>
                <div class="mt-4 flex justify-between">
                  <div>
                    <h3 class="text-sm font-semibold m-0 text-custom-grayBackground">
                      <a href="{{ section.settings.product_4.url }}">
                        <span  class="absolute inset-0"></span>
                        {{ section.settings.product_4.title  }}
                      </a>
                    </h3>
                  </div>
                  <p class="text-sm font-medium text-custom-pink">{{ section.settings.product_4.price_max | money  }}</p>
                </div>
              </div>
            {% endif %}
           
          </div>
        </div>
      </div>
</div>

<script>
    const swipper = new Swiper('.swiper', {
        direction : 'horizontal',
        pagination: {
            el: '.swiper-pagination'
        },
        navigation : {
            prevEl : '.swiper-button-prev',
            nextEl : '.swiper-button-next'
        }
    })
</script>
<script>
    class VariantSelector extends HTMLElement {
        constructor() {
            super(); 
            this.addEventListener('change', this.onVariantChange);
        }
        onVariantChange(){
            this.getSelectedOptions();
            this.getSelectedVariant();
            if(this.currentVariant){
                this.updateURL();
                this.updateFormID();
                this.updateImageVariant();
                this.updatePriceVariant();
                this.updateStock(); 
             
            }
        }
        getSelectedOptions() {
            this.options = Array.from(this.querySelectorAll('select'), (select) => select.value)
          
        }
        getVariantJSON (){
            this.variantData = this.variantData || JSON.parse(this.querySelector('[type="application/json"]').textContent);
            
            return this.variantData;
        }
        
        getSelectedVariant() {
            this.currentVariant = this.getVariantJSON().find(
                (variant) => {
                    const findings = !variant.options.map(
                        (option, index) => {
                           return this.options[index] === option;
                        }
                    ).includes(false);
                    if(findings) return variant;
                }
            );
          
        }
        updateURL(){
            if(!this.currentVariant)return;
            window.history.replaceState({}, '', `${this.dataset.url}?variant=${this.currentVariant.id}`)
        }
        updateFormID(){
             const from_input = document.querySelector('#product-form').querySelector('input[name="id"]');
             from_input.value = this.currentVariant.id;           
        }
        updateImageVariant() {
            const image_lg = document.getElementById('image_lg').querySelector('img');
            const image_sm = document.getElementById('image_sm').querySelector('img');
            image_lg.src = this.currentVariant.featured_image.src;
            image_sm.src = this.currentVariant.featured_image.src;
        }
        updatePriceVariant () {
            fetch(`${this.dataset.url}?variant=${this.currentVariant.id}&section_id=${this.dataset.section}`)
            .then((response) => response.text())
            .then((responsesText) => {
                const id = `price-${(this.dataset.section)}`
                const html = new DOMParser().parseFromString(responsesText, 'text/html');
                const oldPrice = document.getElementById(id);
                const newPrice = html.getElementById(id);
               
                if(oldPrice && newPrice) oldPrice.innerHTML = newPrice.innerHTML;
            })
        }
        updateStock() {
           
         $('#addToCart').load(location.href + " #addToCart");
        //  Oui, j'ai utilisé du jquery... si tu passes par là n'hésite pas à m'expliquer comment faire la même chose en vanilla.
           
        }
    }
  customElements.define('variant-selector', VariantSelector)
</script>
{% schema %}
{
    "name": "Produit section",
    "class": "product_section",
    "settings": [
        {
            "type": "text",
            "id": "title",
            "default":"Découvrez nos autres produits",
            "label": "Titre de la section"
        },
        {
            "type": "product",
            "id": "product_1",
            "label": "Produit 1"
        },
        {
            "type": "product",
            "id": "product_2",
            "label": "Produit 2"
        },
        {
            "type": "product",
            "id": "product_3",
            "label": "Produit 3"
        },
        {
            "type": "product",
            "id": "product_4",
            "label": "Produit 4"
        }
    ],
    "presets": [
        {
            "category": "Hero",
            "name":"Produit Section"
        }
    ]
}
{% endschema %}