
{% if cart.item_count > 0 %}
<form action="/cart" method="post"  class="w-full">
<section class="py-20 bg-gray-100">
  
  <div class="container mx-auto px-4">
    <div class="p-8 lg:p-20 bg-white">
      <h2 class="mb-20 text-5xl font-bold font-heading">Votre panier</h2>
      <div class="flex flex-wrap items-center -mx-4">
        
        <div class="w-full xl:w-8/12 mb-8 xl:mb-0 px-4">
          <div class="hidden lg:flex w-full">
            <div class="w-full lg:w-3/6">
              <h4 class="mb-6 font-bold font-heading text-gray-500">Article</h4>
            </div>
            <div class="w-full lg:w-1/6">
              <h4 class="mb-6 font-bold font-heading text-gray-500">Prix unitaire</h4>
            </div>
            <div class="w-full lg:w-1/6 text-center">
              <h4 class="mb-6 font-bold font-heading text-gray-500">Quantité</h4>
            </div>
            <div class="w-full lg:w-1/6 text-right">
              <h4 class="mb-6 font-bold font-heading text-gray-500">Prix total</h4>
            </div>
          </div>
          <div class="mb-12 py-6 border-t border-b border-gray-200">
            {% for item in cart.items %}
            <div class="flex flex-wrap items-center -mx-4 mb-6 md:mb-3">
              <div class="w-full md:w-4/6 lg:w-6/12 px-4 mb-6 md:mb-0">
                <div class="flex -mx-4 flex-wrap items-center">
                  <div class="w-full md:w-1/3 px-4 mb-3">
                    <div class="flex items-center justify-center w-full md:w-24 h-32 bg-gray-100">
                      <img class="h-full object-contain" src="{{ item | img_url: 'medium' }}" alt="">
                    </div>
                  </div>
                  <div class="w-2/3 px-4">
                    <h3 class="mb-2 text-xl font-bold font-heading">{{ item.product.title | capitalize }}</h3>
                    <p class="text-gray-500">Taille : {{ item.variant.title }}</p>
                    <button type="submit" class="text-gray-700  hover:text-custom-pink">
                      <small><a href="/cart/change?line={{ forloop.index }}&amp;quantity=0">Supprimer</a></small>
                    </button>
                  </div>
                </div>
              </div>
              <div class="hidden lg:block lg:w-2/12 px-4">
                <p class="text-lg text-custom-pink font-bold font-heading"> {{ item.price | money_without_trailing_zeros }} </p>
                
              </div>
              <div class="w-auto md:w-1/6 lg:w-2/12 px-4">
                <div class="inline-flex items-center px-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md">
                  <button class=" text-lg font-bold py-2 hover:text-gray-700 minus" >
                   -
                  </button>
                  <input  id="quantity" class=" quantity w-12 m-0 px-2 py-4 text-center md:text-right border-0 focus:ring-transparent focus:outline-none rounded-md" type="number" name="updates[]" id="updates_{{ item.key }}" value="{{ item.quantity }}" min="0">
                  <button class="py-2 plus text-lg font-bold hover:text-gray-700" id="input_plus">
                    +
                  </button>
                </div>
              </div>
              <div class="w-auto md:w-1/6 lg:w-2/12 px-4 text-right">
                <p class="text-lg text-custom-pink font-bold font-heading">{% if item.original_line_price != item.line_price %}{{ item.original_line_price | money }}{% endif %}
                  {{ item.line_price | money }}
                  {% for discount in item.discounts %}{{ discount.title }}{% endfor %}</p>
              </div>
            </div>
           {% endfor %}
          </div>
          
        </div>
        <div class="w-full xl:w-4/12 px-4">
          <div class="p-6 md:p-12 bg-custom-pink rounded">
            <h2 class="mb-6 text-4xl font-bold font-heading text-white">Commande</h2>
            <div class="flex mb-8 items-center justify-between pb-5 border-b border-blue-100">
              <span class="text-blue-50">Panier</span>
              <span class="text-xl font-bold font-heading text-white">{{ cart.total_price | money }}</span>
            </div>
            <div class="flex mb-4 items-center justify-between pb-5 ">
              <span class="text-custom-whitetext ">
                {{ cart.item_count }} {{ cart.item_count | pluralize: 'article(s)', 'article(s)' }} ({{ cart.total_price | money }})
              </span>
            </div>
            
            <h4 class="mb-2 text-xl font-bold font-heading text-white">Livraison</h4>
            <div class="flex  mb-2 justify-between items-center">
              <span class="text-custom-whitetext mb-4">Calculée à l'étape suivante</span>
              <span class="text-custom-whitetext mb-4">
                {% for discount_application in cart.cart_level_discount_applications %}
                 Code promo: {{ discount_application.title }}
                   -{{ discount_application.total_allocated_amount | money }}
                  {% endfor %}
              </span>        
            </div>
           
            <div class="flex mb-10 justify-between items-center">
              <span class="text-xl font-bold font-heading text-white">Total</span>
              <span class="text-xl font-bold font-heading text-white">{{ cart.total_price | money }}</span>
            </div>
            
            <button type="submit" name="update" class="block w-full mb-4 py-4 bg-custom-whitecard hover:bg-orange-400 text-center text-custom-grayBackground font-bold font-heading uppercase rounded-md transition duration-200">METTRE A JOUR LE PANIER</button>
            <button type="submit" name="checkout" class="block w-full py-4 bg-custom-grayBackground hover:bg-orange-400 text-center text-white font-bold font-heading uppercase rounded-md transition duration-200">PAYER MAINTENANT</button>
          </div>
        </div>
    
      </div>
    </div>
  </div>

</section>
</form>
{% else %}
<div class="container m-auto text-center h-70v flex items-center flex-col justify-evenly">
  <h2 class=" my-8 font-semibold text-custom-grayBackground text-5xl">VOTRE PANIER EST VIDE</h2>
  <img class="block m-auto w-28 my-8" src="https://cdn.shopify.com/s/files/1/0607/6163/7097/files/Nnf6ObwM_400x400_42ce0382-3f00-4ba8-8da2-83963bfb320b.png?v=1636962090" alt="ponce 404">

  <div class="my-8">
      <a href="/"><button class="font-semibold lock bg-custom-grayBackground hover:bg-custom-pink text-center text-custom-whitetext font-heading py-5 px-8 rounded-md uppercase transition duration-200">RETOURNER A L'ACCUEIL</button></a>
  </div>
</div>

  
{% endif %}

<script>
const plus = document.querySelectorAll('.plus');
const minus = document.querySelectorAll('.minus');
plus.forEach(btn  => {
  btn.addEventListener('click' , (e) => {
    e.preventDefault();
   const input = e.target.parentElement.children[1];
  input.stepUp(+1);
  })
})
minus.forEach(btn  => {
  btn.addEventListener('click' , (e) => {
    e.preventDefault();
   const input = e.target.parentElement.children[1]
  input.stepUp(-1);
  })
})
</script>