{% assign current_product = product.selected_or_first_available_variant %}
{% assign product_image = current_product.featured_image | default: product.featured_image %}


<section class=" 2xl:py-20 lg:py-20 md:py-20">
  {% form 'product', product, class:"product-form", id:"AddToCartForm" %}
  <div class="container mx-auto px-4">
    <div class="flex flex-wrap -mx-4 mb-24">
      <div class="w-full md:w-1/2 px-4 mb-8 md:mb-0">
        <div class="relative mb-10" style="height: 564px;">
          <a class="absolute top-1/2 left-0 ml-8 transform translate-1/2" href="#">
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M9 16.0185C9.268 16.2905 9.268 16.7275 9 16.9975C8.732 17.2675 8.299 17.2685 8.031 16.9975L0.201 9.0895C-0.067 8.8195 -0.067 8.3825 0.201 8.1105L8.031 0.2025C8.299 -0.0675 8.732 -0.0675 9 0.2025C9.268 0.4735 9.268 0.9115 9 1.1815L1.859 8.6005L9 16.0185Z" fill="#1F40FF"></path>
            </svg>
          </a>
          <img class="object-contain w-full h-full" src="{{ product_image | img_url: 'grande' }}" alt="{{ product_image.alt }}">
          <a class="absolute top-1/2 right-0 mr-8 transform translate-1/2" href="#">
            <svg width="10" height="18" viewBox="0 0 10 18" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M0.19922 1.1817C-0.0687795 0.909696 -0.0687794 0.472695 0.19922 0.202695C0.46722 -0.0673054 0.90022 -0.0683048 1.16822 0.202695L8.99822 8.11069C9.26622 8.3807 9.26622 8.81769 8.99822 9.08969L1.16822 16.9977C0.900219 17.2677 0.467218 17.2677 0.199219 16.9977C-0.0687809 16.7267 -0.0687808 16.2887 0.199219 16.0187L7.34022 8.5997L0.19922 1.1817Z" fill="#1F40FF"></path>
            </svg>
          </a>
        </div>
        <div class="flex flex-wrap -mx-2">
          {% for image in product.images %}
          <div class="w-3/12 sm:w-1/4 p-2">
            <a class="block border border-custom-pink rounded border-opacity-50" href="{{ product.url }}">
              <img class="w-full h-24 object-cover" src="{{ image.src | img_url: 'medium' }}" alt="{{ image.alt }}">
            </a>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="w-full md:w-1/2 px-4">
        <div class="lg:pl-20">
          <div class="mb-10 pb-10 border-b">
            
            <h2 class="mt-2 mb-6 max-w-xl text-5xl md:text-5xl font-semibold font-heading">{{ product.title |  capitalize }}</h2>
            
            <p class="inline-block mb-8 text-2xl font-semibold font-heading text-custom-pink">
              <span>{{ product.price | money_without_trailing_zeros }}</span>
              <!-- <span class="font-normal text-base text-gray-400 line-through" data-removed="true">$33.69</span> -->
            </p>
            <p class="max-w-md text-gray-500">{{ product.description }}</p>
          </div>
         
          <div class="flex mb-12 sm:flex-col">

          
            <div>
              
              <span class="block mb-4 font-bold font-heading text-gray-400 uppercase">taille</span>
              
              <select class="pl-6 pr-10 py-4 font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md" name="id" id="productSelect">
               
                {% for variant in product.variants %}
                {% if variant.available %}
                  <option value="{{ variant.id }}" id="option">
                    {{ variant.title  }}
                  </option>
                  {% else %}
                  <option value="{{ variant.id }}" disabled>
                    {{ variant.title  }} - sold out
                  </option>
                {% endif %}
                {% endfor %}
            </select>
          
          </div>
        
            <div class="ml-6 ">
              <label class="block mb-4 font-bold font-heading text-gray-400 uppercase">QUANTITÉ</label>
              <div class="inline-flex items-center text-center font-semibold font-heading text-gray-500 border border-gray-200 focus:ring-blue-300 focus:border-blue-300 rounded-md">
                <input class="w-20 m-0  py-4 text-center md:text-right border-0 focus:ring-transparent focus:outline-none rounded-md" type="number" value="1" min="1" name="quantity" id="Quantity">
              </div>
            </div>
          </div>
          <div class="flex justify-center flex-wrap -mx-4 mb-14 items-center" >
            <div class=" 2xl:w-full  xl:w-2/4 px-4 mb-4 xl:mb-0"><button class=" bg-custom-grayBackground hover:bg-custom-pink text-center text-custom-whitetext font-semibold font-heading py-5 px-8 rounded-md uppercase transition duration-200" type="submit" name="add" id="AddToCard">AJOUTEZ AU PANIER</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
</section>



